:root {
    --main-color: #2e2f42;
    --second-color: #434455;
    --background-color: #ffffff;
    --background-btn: #f4f4fd;
    --hover-btn-color: #404bbf;
    --hover-color: #4d5ae5;
    --footer-text: #e7e9fc;
  }

body {
    background: var(--background-color);
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;}

ul {
    margin: 0;
    padding-left: 0;}
button {
    cursor: pointer;
}

img {
    display: block;
}
/* -------------------header -------------- */

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
}
/* .container {
    align-items: center;
    display: flex;
} */

.header {
    padding-top: 24px;
    padding-bottom: 24px;;
    display: flex;
}

.list {
    list-style: none;
    display: flex;
}

.link {
    text-decoration: none;

}

.header-list {
}
.header-nav {
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.accent {
    color: var(--hover-color);
}

.header-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
}

.header-link:hover,
.header-link:focus {
color: var(--hover-color);
}

.header-tel {
    font-style: normal;
    color: var(--second-color);
    line-height: 1.5;
    font-size: 16px;
    list-style: none;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--hover-color);
}

.hero {
    background: var(--main-color);
padding-top: 188px;
padding-bottom: 188px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--background-color);
    /* max-width: 494px; */
}

.hero-btn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    padding: 16px 32px;
    background: var(--hover-color);
    color: var(--background-color);
    margin-top: 48px;
}

.portfolio-btn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 24px;
    background: var(--background-btn);
    }

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--background-color);
    background-color: var(--hover-btn-color);
} 

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-btn-color);
}

.category {
    padding-top: 120px;
}

/* .category-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
} */

.category-list {
    display: flex;
    gap: 24px;
}

.category-item {}

.category-suptext {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.category-text {
    color: var(--second-color);
    line-height: 1.5;
    margin-top: 8px;
    /* font-size: 16px; */

}

.work {
    padding-top: 120px;
    padding-bottom: 120px;
}

.work-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.work-list {
display: flex;
gap: 24px;
}
.work-item {
}

.team {
    background: var(--background-btn);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-name {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--background-color)
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
}

.team-suptext {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.team-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: var(--second-color);
    margin-top: 8px;
}
.portfolio-team-suptext {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-team-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--second-color);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-btn);
}

.footer {
    background: var(--main-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-accent {
    color: var(--hover-color);
}

.footer-text {
    color: var(--footer-text);
    line-height: 1.5;
    margin-top: 16px;
}




/*----------------- PORTFOLIO -------------- */